
                <div class="article clearfix">
                   <h4 class="article-heading">The Value of Money</h4>
                   <div class="flex">
                       <figure class="img-with-caption">
                           <img class="article-img" src="./img/money.jpg" alt="This is a picture of dollars"/> 
                           <figcaption class="article-caption">Picture of Money</figcaption>
                        </figure>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ad qui, esse quisquam? Nulla dolor odio, aut rerum doloremque, perferendis accusantium in nihil, assumenda atque explicabo velit animi dolorum ad.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ad qui, esse quisquam? Nulla dolor odio, aut rerum doloremque, perferendis accusantium in nihil, assumenda atque explicabo velit animi dolorum ad.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ad qui, esse quisquam? Nulla dolor odio, aut rerum doloremque, perferendis accusantium in nihil, assumenda atque explicabo velit animi dolorum ad.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ad qui, esse quisquam? Nulla dolor odio, aut rerum doloremque, perferendis accusantium in nihil, assumenda atque explicabo velit animi dolorum ad.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ad qui, esse quisquam? Nulla dolor odio, aut rerum doloremque, perferendis accusantium in nihil, assumenda atque explicabo velit animi dolorum ad.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ad qui, esse quisquam? Nulla dolor odio, aut rerum doloremque, perferendis accusantium in nihil, assumenda atque explicabo velit animi dolorum ad.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ad qui, esse quisquam? Nulla dolor odio, aut rerum doloremque, perferendis accusantium in nihil, assumenda atque explicabo velit animi dolorum ad.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ad qui, esse quisquam? Nulla dolor odio, aut rerum doloremque, perferendis accusantium in nihil, assumenda atque explicabo velit animi dolorum ad.</p>
                    </div>
                </div>
                
                <div class="article clearfix">
                      <h4 class="article-heading">GMO Food</h4>
                      <div class="flex">
                          <figure class="img-with-caption">
                           <img class="article-img" src="./img/gmo.jpg" alt="This is a picture of GMO"/> 
                           <figcaption class="article-caption">Picture of GMO</figcaption>
                        </figure>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ad qui, esse quisquam? Nulla dolor odio, aut rerum doloremque, perferendis accusantium in nihil, assumenda atque explicabo velit animi dolorum ad.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ad qui, esse quisquam? Nulla dolor odio, aut rerum doloremque, perferendis accusantium in nihil, assumenda atque explicabo velit animi dolorum ad.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ad qui, esse quisquam? Nulla dolor odio, aut rerum doloremque, perferendis accusantium in nihil, assumenda atque explicabo velit animi dolorum ad.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ad qui, esse quisquam? Nulla dolor odio, aut rerum doloremque, perferendis accusantium in nihil, assumenda atque explicabo velit animi dolorum ad.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ad qui, esse quisquam? Nulla dolor odio, aut rerum doloremque, perferendis accusantium in nihil, assumenda atque explicabo velit animi dolorum ad.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ad qui, esse quisquam? Nulla dolor odio, aut rerum doloremque, perferendis accusantium in nihil, assumenda atque explicabo velit animi dolorum ad.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ad qui, esse quisquam? Nulla dolor odio, aut rerum doloremque, perferendis accusantium in nihil, assumenda atque explicabo velit animi dolorum ad.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ad qui, esse quisquam? Nulla dolor odio, aut rerum doloremque, perferendis accusantium in nihil, assumenda atque explicabo velit animi dolorum ad.</p>
                    </div>
                </div>
                
                <div class="article clearfix">
                   <h4 class="article-heading">The World in 2100</h4>
                   <div class="flex">
                       <figure class="img-with-caption">
                           <img class="article-img" src="./img/future.jpg" alt="This is a picture of future"/> 
                           <figcaption class="article-caption">Picture of future</figcaption>
                        </figure>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ad qui, esse quisquam? Nulla dolor odio, aut rerum doloremque, perferendis accusantium in nihil, assumenda atque explicabo velit animi dolorum ad.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ad qui, esse quisquam? Nulla dolor odio, aut rerum doloremque, perferendis accusantium in nihil, assumenda atque explicabo velit animi dolorum ad.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ad qui, esse quisquam? Nulla dolor odio, aut rerum doloremque, perferendis accusantium in nihil, assumenda atque explicabo velit animi dolorum ad.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ad qui, esse quisquam? Nulla dolor odio, aut rerum doloremque, perferendis accusantium in nihil, assumenda atque explicabo velit animi dolorum ad.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ad qui, esse quisquam? Nulla dolor odio, aut rerum doloremque, perferendis accusantium in nihil, assumenda atque explicabo velit animi dolorum ad.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ad qui, esse quisquam? Nulla dolor odio, aut rerum doloremque, perferendis accusantium in nihil, assumenda atque explicabo velit animi dolorum ad.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ad qui, esse quisquam? Nulla dolor odio, aut rerum doloremque, perferendis accusantium in nihil, assumenda atque explicabo velit animi dolorum ad.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ad qui, esse quisquam? Nulla dolor odio, aut rerum doloremque, perferendis accusantium in nihil, assumenda atque explicabo velit animi dolorum ad.</p>
                    </div>
                </div>
        

