    <div class="row justify-content-center"> 
         
       <div class='col-sm-6 col-md-4'>
            <figure>
                <a target="_blank" href="./img/glacier_national_park1.jpg">
                    <img class="portfolio" src="./img/glacier_national_park1.jpg" alt="Forest" style="width:100%">
                </a>
                <figcaption>Glacier National Park, USA</figcaption>
            </figure>
        </div>
        
        <div class='col-sm-6 col-md-4'>
            <figure>
                <a target="_blank" href="./img/glacier_national_park4.jpg">
                    <img class="portfolio" src="./img/glacier_national_park4.jpg" alt="Forest" style="width:100%">
                </a>
                <figcaption>Glacier National Park, USA</figcaption>
            </figure>
        </div>
                
        <div class='col-sm-6 col-md-4'>
            <figure>
                <a target="_blank" href="./img/wishing_field.jpg">
                    <img class="portfolio" src="./img/wishing_field.jpg" alt="Forest" style="width:100%">
                </a>
                <figcaption>The Wishing Field</figcaption>
            </figure>
        </div>
        
        <div class='col-sm-6 col-md-4'>
            <figure>
                <a target="_blank" href="./img/glacier_national_park5.jpg">
                    <img class="portfolio" src="./img/glacier_national_park5.jpg" alt="Forest" style="width:100%">
                </a>
                <figcaption>Glacier National Park, USA</figcaption>
            </figure>
        </div>
        
        <div class='col-sm-6 col-md-4'>
            <figure>
                <a target="_blank" href="./img/dandelion1.jpg">
                    <img class="portfolio" src="./img/dandelion1.jpg" alt="Forest" style="width:100%">
                </a>
                <figcaption>Dandelion</figcaption>
            </figure>
        </div>
        
        <div class='col-sm-6 col-md-4'>
            <figure>
                <a target="_blank" href="./img/mountain_flower.jpg">
                    <img class="portfolio" src="./img/mountain_flower.jpg" alt="Forest" style="width:100%">
                </a>
                <figcaption>Jasper National Park, Canada</figcaption>
            </figure>
        </div>
        
    </div>